

/* #region Layout*/

body {
	margin: 0;
	height: 100vh;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	filter: sepia(0.1) brightness(0.9) contrast(1.1) saturate(0.9);
	font-size: 30px;
}

.grid {
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 90px auto 23px;
	grid-template-areas:
		"header header"
		"menu   content"
		"footer footer";
	height: 100%;
}

/*#endregion*/

/* #region Header */

header {
	grid-area: header;
	border-bottom: 1px solid dimgray;
	box-sizing: border-box;
	padding-left: 10px;
	background: lightslategray;
	color: dimgray;
}

header h1 {
	margin: 10px 0 0 0;
	filter: brightness(0.5);
}

/* #endregion */

/* #region Menu */

menu {
	grid-area: menu;
	padding: 0;
	background: lightgrey;
	margin: 0;
	border-right: 1px solid dimgray;
}

menu p {
	margin: 0;
	padding: 10px;
	color: dimgrey;
}

menu p:hover {
	cursor: pointer;
	background: #0002;
}

/* #endregion */

/* #region Sidinnehåll */

.tab {
	grid-area: content;
	display: none;
	grid-template-columns: auto 500px;
	grid-template-areas: ". rules";
	padding: 10px;
	overflow: auto;
	filter: brightness(0.9);
	background: #fdfffa80;
}

.rules {
	grid-area: rules;
	background: lightyellow;
	overflow: auto;
	padding: 10px;
	font-size: 21px;
	border: 1px solid goldenrod;
	box-sizing: border-box;
	border-radius: 5px;
}

h2 {
	margin: 5px 0;
}

legend span:focus {
	padding: 0 5px;
}

fieldset {
	width: fit-content;
	border: none;
	border-left: 3px solid greenyellow;
	border-radius: 15px 0 0 5px;
	margin-bottom: 10px;
}

input[type="range"] {
	width: 550px;
	height: 10px;
}

.rapport {
	display: grid;
	grid-template-areas:
		"head econ"
		"peop econ";
	width: fit-content;
	margin-bottom: 10px;
}

.rapport h2 {
	grid-area: head;
	width: fit-content;
	line-height: 68px;
	margin: 4px 0;
}

.wrapper {
	padding-left: 0;
	width: fit-content;
}

.wrapper div {
	display: grid;
	grid-template-columns: 210px 150px;
}

.wrapper div p {
	margin: 2px 0 2px 5px;
}

.wrapper div p:first-child {
	border-left: 3px solid greenyellow;
	padding-left: 3px;
	border-radius: 4px;
}

#people {
	grid-area: peop;
}

#economy {
	grid-area: econ;
}

button {
	background: transparent;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px;
	cursor: pointer;
}

button:hover {
	box-shadow: inset 0 0 10px 0 #00ff0050;
}

/* #endregion */

/* #region Footer */

footer {
	grid-area: footer;
	box-sizing: border-box;
	border-top: 1px solid dimgrey;
	background: lightslategray;
	display: grid;
	grid-template-columns: auto auto;
	font-size: 20px;
}

footer p {
	margin: 0;
	padding-left: 10px;
}

/* #endregion */

/* #region Media Queries */

@media screen and (max-width: 1530px) {
	.tab {
		grid-template-columns: auto;
		grid-template-areas:
			"."
			"rules";
	}
}

@media screen and (max-width: 1000px) {
	.rapport {
		grid-template-columns: auto;
		grid-template-areas:
			"head"
			"peop"
			"econ";
	}

	.rules {
		min-height: 300px;
		margin-bottom: 20px;
	}

	.wrapper div {
		grid-template-columns: 260px 100px;
	}
	input[type="range"] {
		width: 400px;
	}
}

/* #endregion */
