/* #region Layout*/

body {
	margin: 0;
	height: 100vh;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	filter: sepia(0.1) brightness(0.9) contrast(1.1) saturate(0.9);
}

.grid {
	display: grid;
	grid-template-columns: 200px auto;
	grid-template-rows: 60px auto 20px;
	grid-template-areas:
		"header header"
		"menu ."
		"footer footer";
	height: 100%;
}

/*#endregion*/

/* #region Header */

header {
	grid-area: header;
	border-bottom: 1px solid dimgray;
	box-sizing: border-box;
	padding-left: 10px;
	background: lightslategray;
	color: dimgray;
}

header h1 {
	margin: 10px 0 0 0;
	filter: brightness(0.5);
}

/* #endregion */

/* #region Menu */

menu {
	grid-area: menu;
	padding: 0;
	background: lightgrey;
	margin: 0;
	border-right: 1px solid dimgray;
}

menu p {
	margin: 0;
	padding: 10px;
	color: dimgrey;
}

menu p:hover {
	cursor: pointer;
	background: #0002;
}

/* #endregion */

/* #region Sidinnehåll */

.tab {
	display: none;
	padding: 10px;
	overflow: auto;
	filter: brightness(0.9);
}

h2 {
	margin: 5px 0;
}

legend span:focus {
	padding: 0 5px;
}

/* #endregion */

/* #region Footer */

footer {
	grid-area: footer;
	height: 20px;
	box-sizing: border-box;
	border-top: 1px solid dimgrey;
	background: lightslategray;
	display: grid;
	grid-template-columns: auto auto;
}

footer p {
	margin: 0;
}

/* #endregion */

/* #region Default */

#people {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
}

#people li {
	display: inline;
	margin-right: 10px;
	border: black 1px solid;
}

#economy {
	display: block;
	padding-left: 0;
	border: black 1px solid;
	list-style: none;
}

#economy li {
	margin-bottom: 1px;
}

button {
	margin: 30px 25px 0 0;
	padding: 10px 15px;
}

/* #endregion */
